// Partials
@use '../partials/variables' as *;
@use '../partials/mixins' as *;
@use '../partials/typography';


// Resets
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "AvenirNext", sans-serif;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}



// Header 
.header {
    background-color: $bandsite-black;
    width: 100%;
    
    @include tablet {
        display: flex;
    }

    &__title-container {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-size: 2.4rem;
        font-family: "AvenirNext";
        font-weight: 600;

        @include tablet {
            font-size: 3.6rem;
            font-weight: 400;
            display: flex;
            padding-left: 3.6rem;
        }

        @include desktop {
            padding-left: 8.0rem;
        }
    }

    &__logo {
        text-decoration: none;
        color: $white;
    }
}



// Nav Bar
.nav {
    display: flex;
    background-color: $bandsite-black;
    width: 100%;
    justify-content: center;

    @include tablet {
        width: 40%;
    }

    @include desktop {
        width: 25%;
    }

    &__item {
        display: flex;
        font-family: "AvenirNext";
        font-size: 1.4rem;
        font-weight: 400;
        width: 50%;
        justify-content: center;

        @include tablet {
            display: flex;
            align-items: center;
            width: 35%;
            font-size: 1.6rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $white;

        @include tablet {
            padding-left: 1.5rem;
            text-decoration: none;
        }

    }

    &__item--current {
        color: $white;
        border-bottom: 0.4rem solid $white;
        padding-bottom: 2.0rem;
        font-weight: 600;

        @include tablet {
            padding: 0;
            border-bottom: none;
            text-decoration: underline solid $white 0.5rem;
            text-underline-offset: 3.6rem;
        }
    }
}


// Hero
.hero {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        display: flex;
        align-items: center;
        color: $white;
        font-size: 2.4rem;
        margin: 0;
    }

    
}


// Footer
.footer {
    background-color: $bandsite-black;
    color: $white;
    font-family: 'AvenirNext';
    font-size: 1.3rem;
    font-weight: 400;

    @include tablet {
        font-size: 1.4rem;
        padding-top: 2.4rem;
    }

    @include tablet {
        font-size: 1.4rem;
    }

    &__logo {
        @include tablet {
            padding-top: 1.0rem;
        }
    }

    &-section {

        @include tablet {
            display: flex;
            width: 90%;
            margin: 3.6rem;
        }

        @include desktop {
            width: 85%;
            margin: auto;
            margin-bottom: 3.6rem;
        }
    }

    &_title {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0;
        padding: 2.4rem 0 0 1.6rem;


        @include tablet {
            font-size: 3.6rem;
            padding: 0;
        }

        &--mobile {
            display: none;
        }

        &--tablet {
            @include tablet {
                display: flex;
                margin-right: 3rem;
            }
        }
    }

    &-icon {
        margin: 0;

        @include tablet {
            display: flex;
        }

        &__item {
            padding: 1.6rem 1.6rem 0 1.6rem;
        }

        &--hidden {
            display: none;

            @include tablet {
                display: flex;
                flex-grow: 1;
            }
        }

        &--mobile {
            display: flex;

            @include tablet {
                display: none;    
            }
        }

        &--tablet {
            display: none;

            @include tablet {
                display: flex;    
            }
        }
    }

    &-logo-container {

        &--hidden {
            display: none;

            @include tablet {
                display: flex;
            }
        }

        &--hidden-mobile {
            display: block;

            @include tablet {
                display: none;
            }
        }
    }

    &-logo {
        width: 15rem;
        padding: 3.6rem 0 0 1.6rem;

        @include tablet {
            padding: 0%;
        }
    } 

    &-copyright {
        margin: 0%;
        padding: 1.6rem;
        font-size: 1.1rem;

        @include tablet {
            padding: 3.6rem 0 3.6rem 3.6rem;
            font-size: 1.5rem;
        }

        @include desktop {
            margin-left: 5rem;
        }
    }

    &-contact {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2.4rem 0 0 1.6rem;

        @include tablet {
            padding: 0;
        }


        &-info {
            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
            }

            @include desktop {
                justify-content: space-evenly;
                width: 70%;
                margin-left: 1.6rem;
            }
        }

        &__header {
            font-weight: 600;
            margin: 0;
        }
    
        &__copy {
            margin: 0%;

            &-container {
                margin-top: 1.6rem;
            }
        }
    }
}