// Partials
@use '../partials/variables' as *;
@use '../partials/mixins' as *;
@use '../partials/typography';


// Resets
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "AvenirNext";
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}



// Header 
.header {
    background-color: $bandsite-black;
    width: 100%;
    
    @include tablet {
        display: flex;
    }

    &__title-container {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-size: 2.4rem;
        font-family: "AvenirNext";
        font-weight: 600;

        @include tablet {
            font-size: 3.6rem;
            font-weight: 400;
            display: flex;
            padding-left: 3.6rem;
        }

        @include desktop {
            padding-left: 8.0rem;
        }
    }

    &__logo {
        text-decoration: none;
        color: $white;
    }
}



// Nav Bar
.nav {
    display: flex;
    background-color: $bandsite-black;
    width: 100%;
    justify-content: center;

    @include tablet {
        width: 40%;
    }

    @include desktop {
        width: 25%;
    }

    &__item {
        display: flex;
        font-family: "AvenirNext";
        font-size: 1.4rem;
        font-weight: 400;
        width: 50%;
        justify-content: center;

        @include tablet {
            display: flex;
            align-items: center;
            width: 35%;
            font-size: 1.6rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $white;

        @include tablet {
            padding-left: 1.5rem;
            text-decoration: none;
        }

    }

    &__item--current {
        color: $white;
        border-bottom: 0.4rem solid $white;
        padding-bottom: 2.0rem;
        font-weight: 600;

        @include tablet {
            padding: 0;
            border-bottom: none;
            text-decoration: underline solid $white 0.5rem;
            text-underline-offset: 3.6rem;
        }
    }
}


// Hero
.hero {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        display: flex;
        align-items: center;
        color: $white;
        font-size: 2.4rem;
        margin: 0;
    }

    
}


// Footer
.footer {
    background-color: $bandsite-black;
    color: $white;
    font-family: 'AvenirNext';
    font-size: 1.3rem;
    font-weight: 400;

    @include tablet {
        font-size: 1.4rem;
        padding-top: 3.6rem;
    }

    @include tablet {
        font-size: 1.4rem;
        padding-left: 5.0rem;
    }

    &_title {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0;
        padding: 2.4rem 0 1.6rem 1.6rem;
        width: 100%;

        @include tablet {
            font-size: 3.6rem;
            width: 40%;
            padding-left: 3.6rem;
        }
    }

    &-icon {
        margin: 0;

        @include tablet {
            position: relative;
            bottom: 4.6rem;
            left: 26rem;
        }

        &__item {
            padding: 1.6rem;
        }
    }

    &-logo-container {
        @include tablet {
            display: flex;
            justify-content: flex-end;
            padding-right: 3.6rem;
            position: relative;
            bottom: 23rem;
        }
    }

    &-logo {
        margin-top: 4rem;
        padding-left: 1.6rem;

        @include tablet {
            margin-top: 0%;
        }

        @include desktop {
            margin-top: 0%;
            padding-right: 8rem;
        }
    } 

    &-copyright {
        margin: 0%;
        padding: 1.6rem;

        @include tablet {
            padding: 0 0 3.6rem 3.6rem;
        }
    }

    &-contact {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2.4rem 0 0 1.6rem;

        @include tablet {
            padding: 0 6rem 2.4rem 3rem;
        }

        @include tablet {
            padding: 0 3rem 2.4rem 3rem;
        }


        &-info {
            @include tablet {
                display: flex;
                justify-content: space-between;
                padding-left: 0.6rem;
            }

            @include desktop {
                display: flex;
                justify-content: flex-start;
                padding-left: 0.6rem;
            }
        }

        &__header {
            font-weight: 600;
            line-height: 1.8rem;
            margin: 0;
        }
    
        &__copy {
            margin: 0%;

            &-container {
                margin-top: 1.6rem;
            }
        }
    }
}