// Viewport Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Primary colors
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;

// Secondary colors
$bandsite-dark-black: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;