// Partials
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/global' as *;
@use './partials/typography';


// Hero Section
.hero {
    background-image: linear-gradient(
        to bottom,
        rgba(32, 32, 32, 0.5),
        rgba(32, 32, 32, 0.5)), 
        url("../assets/images/hero-bio.jpg");
    height: 65vw;
    

    &__title {
    font-weight: 600;
    padding-left: 1.6rem;
    margin: 0;
        
        @include tablet {
            font-size: 6.0rem;
            padding-left: 3.6rem;
        }

        @include desktop {
            padding-left: 8.0rem;
        }
    }
}


// About Musicians
.musicians {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        padding-left: 1.6rem;

        @include tablet {
            font-size: 3.6rem;
            padding-left: 3.6rem;
        }

        @include desktop {
            padding-left: 8.0rem;
        }
    }

    &__image {
        width: 100%;
        margin: auto;
        padding: 0 1.6rem;

        @include tablet {
            width: 80%;
            padding-left: 0 3.6rem;
        }

        @include desktop {
            // width: 75%;
            padding-left: 0 3.6rem;
        }
    }

    &-text-container {
        display: flex;
        flex-direction: column;
        padding-top: 1.6rem;
        
        // @include tablet {
        //     display: flex;
        //     flex-direction: column;
        // }

        // @include desktop {
        //     margin: auto;
        //     width: 93%;
        // }
    }

    &-text__quote {
        width: 100%;
        margin: 0;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.2rem;
        padding: 0 1.6rem 0 1.6rem;


        @include tablet {
            width: 80%;
            margin: auto;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }

    &-text__author {
        width: 100%;
        margin: 0;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.2rem;
        padding: 1.6rem 1.6rem 0 1.6rem;

        @include tablet {
            width: 80%;
            margin: auto;
            font-size: 1.6rem;
        }
    }
}


// The Bees Knees Description
.description {
    width: 100%;
    padding: 1.6rem;


    &__title {
        font-size: 1.4rem;
        font-weight: 600;

        @include tablet {
            width: 80%;
            margin: 0 auto;
            font-size: 2.4rem;
            padding-bottom: 1.6rem;
            padding-top: 3.6rem;
        }

        @include desktop {
            // width: 75%;
            padding-bottom: 1.6rem;
        }
    }
    
    &__text-container {

        @include tablet {
            display: flex;
            width: 80%;
            margin: auto;
            padding-bottom: 1.6rem;
        }

        @include desktop {
            // width: 75%;
        }
    }
    
    &__text {
        font-size: 1.3rem;

        @include tablet {
            display: flex;
            margin: auto;
            font-size: 1.4rem;
            line-height: 2.2rem;

            &--right {
                padding-left: 3.6rem;
            }
        }
    }
}


// Photo Gallery
.photo-gallery {
    background-color: $alabaster;

    &__title {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0;
        align-items: flex-start;
        padding: 2.4rem 0 0rem 1.6rem;

        @include tablet {
            font-size: 3.6rem;
            padding: 4.8rem 0 1.6rem 3.6rem;
        }

        @include desktop {
            padding: 4.8rem 0 1.6rem 8.0rem;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            padding-bottom: 2.6rem;
            margin: auto;
            width: 95%;
        }

        @include desktop {
            width: 90%;
        }
    }
    
    &-container__image {
        padding: 1.6rem;
        width: 100%;

        @include tablet {
            width: 33%;
            padding: 1.6rem;
        }

        // @include desktop {
        //     padding: 2.4rem;
        // }
    }
}



// Join the Convo & Comment Section
// .conversation-container {
//     margin: 1.6rem;

// }


.conversation-title {
    margin: 1.6rem;
}


// Form
.form {
    display: flex;
    margin: 1.6rem;
    color: $silver;


    &__image-container {
        display: flex;
    }


    &__image {
        border-radius: 50%;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: cover;
        display: flex;
        margin: 2.5rem 1.6rem;
    }

    &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        width: 100%;
    }
}


label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


.add-name {
    border: 1px solid $mercury;
    background-color: $alabaster;
    color: $bandsite-dark-black;
    padding: 1.2rem;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
}


.add-comment {
    background-color: $alabaster;
    color: $bandsite-dark-black;
    border: 1px solid $mercury;
    resize: none;
    height: 10rem;
    border-radius: 0.4rem;
    padding: 1.2rem;
    margin-top: 0.4rem;
}


// Comments
.comment {
    width: 100%;
    border-top: 0.1rem solid $mercury;

    @include tablet {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &-container {
        border: 0.1rem solid $mercury;
        display: flex;
    }
    
    &__card {
        display: flex;
        flex-direction: column;
        margin: 1.6rem;

        &__pic {
            background-color: $mercury;
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            margin: 1.6rem;
        }
    }

    &__text-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    &__name {
        font-size: 1.6rem;
        font-weight: 600;
    }

    // &__date {
    //     display: flex;
    // }



    &__button {
        background-color: $bandsite-black;
        color: $white;
        height: 4rem;
        width: 100%;
        border-radius: 0.4rem;
        margin-bottom: 1.6rem;

        &:hover {
            background-color: $bandsite-dark-black;
        }

        @include tablet {
         min-width: 15rem;
         padding: 0 3.2rem;   
        }
    }
}




