@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format(opentype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format(opentype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format(opentype);
  font-weight: 700;
  font-style: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "AvenirNext", sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}
.header__title-container {
  display: flex;
  justify-content: center;
}
.header__title {
  font-size: 2.4rem;
  font-family: "AvenirNext";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 3.6rem;
    font-weight: 400;
    display: flex;
    padding-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    padding-left: 8rem;
  }
}
.header__logo {
  text-decoration: none;
  color: #ffffff;
}

.nav {
  display: flex;
  background-color: #323232;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    width: 25%;
  }
}
.nav__item {
  display: flex;
  font-family: "AvenirNext";
  font-size: 1.4rem;
  font-weight: 400;
  width: 50%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
    align-items: center;
    width: 35%;
    font-size: 1.6rem;
  }
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-left: 1.5rem;
    text-decoration: none;
  }
}
.nav__item--current {
  color: #ffffff;
  border-bottom: 0.4rem solid #ffffff;
  padding-bottom: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__item--current {
    padding: 0;
    border-bottom: none;
    -webkit-text-decoration: underline solid #ffffff 0.5rem;
            text-decoration: underline solid #ffffff 0.5rem;
    text-underline-offset: 3.6rem;
  }
}

.hero {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2.4rem;
  margin: 0;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNext";
  font-size: 1.3rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.4rem;
    padding-top: 2.4rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    width: 90%;
    margin: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section {
    width: 85%;
    margin: auto;
    margin-bottom: 3.6rem;
  }
}
.footer_title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  padding: 2.4rem 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer_title {
    font-size: 3.6rem;
    padding: 0;
  }
}
.footer_title--mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer_title--tablet {
    display: flex;
    margin-right: 3rem;
  }
}
.footer-icon {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer-icon {
    display: flex;
  }
}
.footer-icon__item {
  padding: 1.6rem 1.6rem 0 1.6rem;
}
.footer-icon--hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-icon--hidden {
    display: flex;
    flex-grow: 1;
  }
}
.footer-icon--mobile {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer-icon--mobile {
    display: none;
  }
}
.footer-icon--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-icon--tablet {
    display: flex;
  }
}
.footer-logo-container--hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-logo-container--hidden {
    display: flex;
  }
}
.footer-logo-container--hidden-mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-logo-container--hidden-mobile {
    display: none;
  }
}
.footer-logo {
  width: 15rem;
  padding: 3.6rem 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    padding: 0%;
  }
}
.footer-copyright {
  margin: 0%;
  padding: 1.6rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    padding: 3.6rem 0 3.6rem 3.6rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-copyright {
    margin-left: 5rem;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2.4rem 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact-info {
    justify-content: space-evenly;
    width: 70%;
    margin-left: 1.6rem;
  }
}
.footer-contact__header {
  font-weight: 600;
  margin: 0;
}
.footer-contact__copy {
  margin: 0%;
}
.footer-contact__copy-container {
  margin-top: 1.6rem;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url("../assets/images/hero-bio.jpg");
  height: 65vw;
}
.hero__title {
  font-weight: 600;
  padding-left: 1.6rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 6rem;
    padding-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    padding-left: 8rem;
  }
}

.musicians {
  display: flex;
  flex-direction: column;
}
.musicians__title {
  font-size: 2.4rem;
  font-weight: 600;
  padding-left: 1.6rem;
}
@media screen and (min-width: 768px) {
  .musicians__title {
    font-size: 3.6rem;
    padding-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__title {
    padding-left: 8rem;
  }
}
.musicians__image {
  width: 100%;
  margin: auto;
  padding: 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .musicians__image {
    width: 80%;
    padding-left: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__image {
    padding-left: 0 3.6rem;
  }
}
.musicians-text-container {
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
}
.musicians-text__quote {
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
  padding: 0 1.6rem 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .musicians-text__quote {
    width: 80%;
    margin: auto;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
.musicians-text__author {
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .musicians-text__author {
    width: 80%;
    margin: auto;
    font-size: 1.6rem;
  }
}

.description {
  width: 100%;
  padding: 1.6rem;
}
.description__title {
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .description__title {
    width: 80%;
    margin: 0 auto;
    font-size: 2.4rem;
    padding-bottom: 1.6rem;
    padding-top: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .description__title {
    padding-bottom: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .description__text-container {
    display: flex;
    width: 80%;
    margin: auto;
    padding-bottom: 1.6rem;
  }
}
.description__text {
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .description__text {
    display: flex;
    margin: auto;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .description__text--right {
    padding-left: 3.6rem;
  }
}

.photo-gallery {
  background-color: #fafafa;
}
.photo-gallery__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  align-items: flex-start;
  padding: 2.4rem 0 0rem 1.6rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery__title {
    font-size: 3.6rem;
    padding: 4.8rem 0 1.6rem 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__title {
    padding: 4.8rem 0 1.6rem 8rem;
  }
}
.photo-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .photo-gallery-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2.6rem;
    margin: auto;
    width: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery-container {
    width: 90%;
  }
}
.photo-gallery-container__image {
  padding: 1.6rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .photo-gallery-container__image {
    width: 33%;
    padding: 1.6rem;
  }
}

.conversation-title {
  margin: 1.6rem;
  font-size: 2.4rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .conversation-title {
    margin: 3.6rem;
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .conversation-title {
    margin-left: 7.6rem;
  }
}

.form {
  display: flex;
  margin: 1.6rem 1.6rem 0 0;
  color: #afafaf;
  border-bottom: 0.2rem solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .form {
    width: 60rem;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    width: 60rem;
    margin: auto;
  }
}
.form__image-container {
  display: flex;
}
.form__image {
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  background-position: left;
  border-radius: 50%;
  width: 3.6rem;
  height: 3.6rem;
  display: flex;
  margin: 2.5rem 1.6rem;
}
@media screen and (min-width: 768px) {
  .form__image {
    width: 4.8rem;
    height: 4.8rem;
    margin: 1.8rem 1.6rem;
  }
}
.form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.add-name {
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  color: #000000;
  padding: 1.2rem;
  border-radius: 0.4rem;
  margin-top: 0.4rem;
}

.add-comment {
  background-color: #fafafa;
  color: #000000;
  border: 1px solid #e1e1e1;
  resize: none;
  height: 10rem;
  border-radius: 0.4rem;
  padding: 1.2rem;
  margin-top: 0.4rem;
}

.comment {
  width: 100%;
  border-top: 0.1rem solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .comment {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.comment-section {
  margin-bottom: 2.4rem;
}
@media screen and (min-width: 768px) {
  .comment-section {
    width: 60rem;
    margin: auto;
    margin-bottom: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment-section {
    width: 60rem;
    margin: auto;
    margin-bottom: 3.6rem;
  }
}
.comment-container {
  border-bottom: 0.2rem solid #e1e1e1;
  display: flex;
}
.comment__card {
  display: flex;
  flex-direction: column;
  margin: 1.6rem;
  width: 100%;
}
.comment__card__pic {
  background-color: #e1e1e1;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  margin: 1.6rem 0 1.6rem 1.6rem;
}
@media screen and (min-width: 768px) {
  .comment__card__pic {
    width: 4.8rem;
    height: 4.8rem;
    margin: 1.6rem 0.6rem;
  }
}
.comment__text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.comment__text {
  margin: 0;
  padding: 1rem 0;
}
.comment__name {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}
.comment__date {
  margin: 0;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .comment__button-container {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .comment__button-container {
    display: flex;
    justify-content: flex-end;
  }
}
.comment__button {
  background-color: #323232;
  color: #ffffff;
  height: 4rem;
  width: 100%;
  border-radius: 0.4rem;
  margin-bottom: 1.6rem;
}
.comment__button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .comment__button {
    min-width: 15rem;
    padding: 0 3.2rem;
    width: 25%;
  }
}
@media screen and (min-width: 1280px) {
  .comment__button {
    width: 30%;
  }
}
.comment__divider {
  padding: 0.1rem;
  width: 100%;
  background-color: #e1e1e1;
}/*# sourceMappingURL=bio.css.map */