@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format(opentype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format(opentype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format(opentype);
  font-weight: 700;
  font-style: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}
.header__title-container {
  display: flex;
  justify-content: center;
}
.header__title {
  font-size: 2.4rem;
  font-family: "AvenirNext";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 3.6rem;
    font-weight: 400;
    display: flex;
    padding-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    padding-left: 8rem;
  }
}
.header__logo {
  text-decoration: none;
  color: #ffffff;
}

.nav {
  display: flex;
  background-color: #323232;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    width: 25%;
  }
}
.nav__item {
  display: flex;
  font-family: "AvenirNext";
  font-size: 1.4rem;
  font-weight: 400;
  width: 50%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
    align-items: center;
    width: 35%;
    font-size: 1.6rem;
  }
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-left: 1.5rem;
    text-decoration: none;
  }
}
.nav__item--current {
  color: #ffffff;
  border-bottom: 0.4rem solid #ffffff;
  padding-bottom: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__item--current {
    padding: 0;
    border-bottom: none;
    -webkit-text-decoration: underline solid #ffffff 0.5rem;
            text-decoration: underline solid #ffffff 0.5rem;
    text-underline-offset: 3.6rem;
  }
}

.header {
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}
.header__title-container {
  display: flex;
  justify-content: center;
}
.header__title {
  font-size: 2.4rem;
  font-family: "AvenirNext";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 3.6rem;
    font-weight: 400;
    display: flex;
    padding-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    padding-left: 8rem;
  }
}
.header__logo {
  text-decoration: none;
  color: #ffffff;
}

.nav {
  display: flex;
  background-color: #323232;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    width: 25%;
  }
}
.nav__item {
  display: flex;
  font-family: "AvenirNext";
  font-size: 1.4rem;
  font-weight: 400;
  width: 50%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
    align-items: center;
    width: 35%;
    font-size: 1.6rem;
  }
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-left: 1.5rem;
    text-decoration: none;
  }
}
.nav__item--current {
  color: #ffffff;
  border-bottom: 0.4rem solid #ffffff;
  padding-bottom: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__item--current {
    padding: 0;
    border-bottom: none;
    -webkit-text-decoration: underline solid #ffffff 0.5rem;
            text-decoration: underline solid #ffffff 0.5rem;
    text-underline-offset: 3.6rem;
  }
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 70vw;
  position: relative;
}
.hero__layer {
  display: flex;
  background-color: rgba(32, 32, 32, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
}
.hero__title {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2.4rem;
  font-family: "AvenirNext";
  font-weight: 600;
  padding-left: 1.6rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 6rem;
    padding-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 6rem;
    padding-left: 8rem;
  }
}

.musicians {
  display: flex;
  flex-direction: column;
  font-family: "AvenirNext";
}
.musicians__title {
  font-size: 2.4rem;
  font-weight: 600;
  padding-left: 1.6rem;
}
@media screen and (min-width: 768px) {
  .musicians__title {
    font-size: 3.6rem;
    padding-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__title {
    padding-left: 8rem;
  }
}
.musicians__image {
  width: 100%;
  margin: auto;
  padding: 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .musicians__image {
    width: 80%;
    padding-left: 0 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__image {
    width: 75%;
    padding-left: 0 3.6rem;
  }
}
@media screen and (min-width: 768px) {
  .musicians-text-container {
    height: 15rem;
  }
}
@media screen and (min-width: 1280px) {
  .musicians-text-container {
    margin: auto;
    width: 93%;
  }
}
.musicians-text__quote {
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .musicians-text__quote {
    width: 80%;
    margin: auto;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
.musicians-text__author {
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
  padding: 1.6rem 1.6rem 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .musicians-text__author {
    width: 80%;
    margin: auto;
    font-size: 1.6rem;
  }
}

.description {
  width: 100%;
  font-family: "AvenirNext";
  padding: 1.6rem;
}
.description__title {
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .description__title {
    width: 80%;
    margin: 0 auto;
    font-size: 2.4rem;
    padding-bottom: 1.6rem;
    padding-top: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .description__title {
    width: 75%;
    margin: 0 auto;
    font-size: 2.4rem;
    padding-bottom: 1.6rem;
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .description__text-container {
    display: flex;
    width: 80%;
    margin: auto;
    padding-bottom: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .description__text-container {
    display: flex;
    width: 75%;
    margin: auto;
    padding-bottom: 1.6rem;
  }
}
.description__text {
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .description__text {
    display: flex;
    margin: auto;
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-right: 3.6rem;
  }
}

.photo-gallery {
  background-color: #fafafa;
}
.photo-gallery__title {
  font-family: "AvenirNext";
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  align-items: flex-start;
  padding: 2.4rem 0 1.6rem 1.6rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery__title {
    font-size: 3.6rem;
    padding: 2.4rem 0 1.6rem 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__title {
    padding-left: 8rem;
  }
}
.photo-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .photo-gallery-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2.6rem;
    margin: auto;
    width: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery-container {
    width: 90%;
  }
}
.photo-gallery-container__image {
  padding-bottom: 1.6rem;
  width: 96vw;
}
@media screen and (min-width: 768px) {
  .photo-gallery-container__image {
    width: 300px;
    height: 200px;
    padding: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery-container__image {
    width: 380px;
    height: 250px;
    padding: 1.6rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNext";
  font-size: 1.3rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.4rem;
    padding-top: 3.6rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.4rem;
    padding-left: 5rem;
  }
}
.footer_title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  padding: 2.4rem 0 1.6rem 1.6rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer_title {
    font-size: 3.6rem;
    width: 40%;
    padding-left: 3.6rem;
  }
}
.footer-icon {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer-icon {
    position: relative;
    bottom: 4.6rem;
    left: 26rem;
  }
}
.footer-icon__item {
  padding: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer-logo-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 3.6rem;
    position: relative;
    bottom: 23rem;
  }
}
.footer-logo {
  margin-top: 4rem;
  padding-left: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-top: 0%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-logo {
    margin-top: 0%;
    padding-right: 8rem;
  }
}
.footer-copyright {
  margin: 0%;
  padding: 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    padding: 0 0 3.6rem 3.6rem;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2.4rem 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    padding: 0 6rem 2.4rem 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-contact {
    padding: 0 3rem 2.4rem 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-contact-info {
    display: flex;
    justify-content: space-between;
    padding-left: 0.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact-info {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.6rem;
  }
}
.footer-contact__header {
  font-weight: 600;
  line-height: 1.8rem;
  margin: 0;
}
.footer-contact__copy {
  margin: 0%;
}
.footer-contact__copy-container {
  margin-top: 1.6rem;
}/*# sourceMappingURL=bio.css.map */