@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format(opentype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format(opentype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format(opentype);
  font-weight: 700;
  font-style: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "AvenirNext", sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}
.header__title-container {
  display: flex;
  justify-content: center;
}
.header__title {
  font-size: 2.4rem;
  font-family: "AvenirNext";
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 3.6rem;
    font-weight: 400;
    display: flex;
    padding-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    padding-left: 8rem;
  }
}
.header__logo {
  text-decoration: none;
  color: #ffffff;
}

.nav {
  display: flex;
  background-color: #323232;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    width: 25%;
  }
}
.nav__item {
  display: flex;
  font-family: "AvenirNext";
  font-size: 1.4rem;
  font-weight: 400;
  width: 50%;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
    align-items: center;
    width: 35%;
    font-size: 1.6rem;
  }
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-left: 1.5rem;
    text-decoration: none;
  }
}
.nav__item--current {
  color: #ffffff;
  border-bottom: 0.4rem solid #ffffff;
  padding-bottom: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__item--current {
    padding: 0;
    border-bottom: none;
    -webkit-text-decoration: underline solid #ffffff 0.5rem;
            text-decoration: underline solid #ffffff 0.5rem;
    text-underline-offset: 3.6rem;
  }
}

.hero {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2.4rem;
  margin: 0;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNext";
  font-size: 1.3rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.4rem;
    padding-top: 2.4rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    width: 90%;
    margin: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-section {
    width: 85%;
    margin: auto;
    margin-bottom: 3.6rem;
  }
}
.footer_title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  padding: 2.4rem 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer_title {
    font-size: 3.6rem;
    padding: 0;
  }
}
.footer_title--mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer_title--tablet {
    display: flex;
    margin-right: 3rem;
  }
}
.footer-icon {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer-icon {
    display: flex;
  }
}
.footer-icon__item {
  padding: 1.6rem 1.6rem 0 1.6rem;
}
.footer-icon--hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-icon--hidden {
    display: flex;
    flex-grow: 1;
  }
}
.footer-icon--mobile {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer-icon--mobile {
    display: none;
  }
}
.footer-icon--tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-icon--tablet {
    display: flex;
  }
}
.footer-logo-container--hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-logo-container--hidden {
    display: flex;
  }
}
.footer-logo-container--hidden-mobile {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-logo-container--hidden-mobile {
    display: none;
  }
}
.footer-logo {
  width: 15rem;
  padding: 3.6rem 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    padding: 0%;
  }
}
.footer-copyright {
  margin: 0%;
  padding: 1.6rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .footer-copyright {
    padding: 3.6rem 0 3.6rem 3.6rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-copyright {
    margin-left: 5rem;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 2.4rem 0 0 1.6rem;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact-info {
    justify-content: space-evenly;
    width: 70%;
    margin-left: 1.6rem;
  }
}
.footer-contact__header {
  font-weight: 600;
  margin: 0;
}
.footer-contact__copy {
  margin: 0%;
}
.footer-contact__copy-container {
  margin-top: 1.6rem;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5)), url("../assets/images/hero-shows.jpg");
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 70vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
    align-items: center;
    height: 50vw;
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  margin-top: 3.6rem;
}
@media screen and (min-width: 1280px) {
  .hero-container {
    margin-left: 3.6rem;
  }
}
.hero__title {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0 0 2.4rem 1.6rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 2.4rem;
    padding: 3.6rem 0 2.4rem 3.6rem;
    font-weight: 600;
  }
}
.hero__copy {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 600;
  padding-left: 1.6rem;
  margin: 0;
  width: 25rem;
}
@media screen and (min-width: 768px) {
  .hero__copy {
    font-size: 6rem;
    width: 60rem;
    padding-left: 3.6rem;
  }
}
.hero__sound-cloud {
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__sound-cloud {
    padding-top: 3.6rem;
  }
}
.hero__sound-cloud__styling {
  width: 90%;
  margin: 1.6rem 1.6rem 3.6rem 1.6rem;
}
@media screen and (min-width: 768px) {
  .hero__sound-cloud__styling {
    margin: 3.6rem 3.6rem 3.6rem 3.6rem;
    width: 60%;
  }
}
.hero__sound-cloud__styling--desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .hero__sound-cloud__styling--desktop {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .hero__sound-cloud__styling {
    width: 45rem;
  }
  .hero__sound-cloud__styling--hidden {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__sound-cloud-desktop {
    margin-top: 6.6rem;
  }
}

.shows {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-around;
  }
}
.shows__tickets__wrapper {
  margin-bottom: 1.6rem;
}
@media screen and (min-width: 1280px) {
  .shows__tickets__wrapper {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-top: 3.6rem;
  }
}
.shows__title {
  margin: 0%;
  padding: 3.6rem 1.6rem 1.6rem 1.6rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 3.6rem;
    padding: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    display: flex;
    width: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title--mobile {
    display: none;
  }
}
.shows__title--desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .shows__title--desktop {
    display: flex;
  }
}
.shows__heading {
  color: #afafaf;
  font-weight: 600;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .shows__heading {
    font-size: 1.4rem;
  }
}
.shows__headings__container {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__headings__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__headings__container {
    display: flex;
  }
}
.shows__ticket {
  padding: 1.6rem;
  border-bottom: 0.2rem solid #e1e1e1;
}
.shows__ticket:hover {
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .shows__ticket {
    padding: 1.6rem 3.6rem 1.6rem 2.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .shows__ticket {
    padding: 1.6rem 3.6rem 1.6rem 3.6rem;
    width: 100%;
    margin: 0;
  }
}
.shows__ticket__heading {
  color: #afafaf;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .shows__ticket__heading {
    display: none;
  }
}
.shows__ticket__text {
  font-weight: 600;
}
.shows__ticket__button {
  background-color: #323232;
  color: #ffffff;
  height: 4rem;
  width: 100%;
  border-radius: 0.4rem;
}
.shows__ticket__button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .shows__ticket__button {
    width: 20%;
    margin: 0;
  }
}/*# sourceMappingURL=shows.css.map */